mDeal/module-src/smpp/src/META-INF/wsdl/ws.mdeal.vn/Webservice/GetCode.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetMaCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMaCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMaCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetMaCode" />
  </wsdl:message>
  <wsdl:message name="GetMaCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetMaCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="GetCodeSoap">
    <wsdl:operation name="GetMaCode">
      <wsdl:input message="tns:GetMaCodeSoapIn" />
      <wsdl:output message="tns:GetMaCodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetCodeSoap" type="tns:GetCodeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMaCode">
      <soap:operation soapAction="http://tempuri.org/GetMaCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetCodeSoap12" type="tns:GetCodeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMaCode">
      <soap12:operation soapAction="http://tempuri.org/GetMaCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetCode">
    <wsdl:port name="GetCodeSoap" binding="tns:GetCodeSoap">
      <soap:address location="http://ws.mdeal.vn/Webservice/GetCode.asmx" />
    </wsdl:port>
    <wsdl:port name="GetCodeSoap12" binding="tns:GetCodeSoap12">
      <soap12:address location="http://ws.mdeal.vn/Webservice/GetCode.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>